# Server
PORT=8000
NODE_ENV=development
CLIENT_URI=*
BASE_URI=http://localhost:8000 #development
CLIENT_URI=http://localhost:7000 #development

# JWT Authentication
JWT_ACCESS_SECRET=XXXXXXXXXXXXXXXXXXXXXX
JWT_REFRESH_SECRET=XXXXXXXXXXXXXXXXXXXXXX
JWT_ACCESS_EXPIRE="1d"
JWT_REFRESH_EXPIRE="10d"

# Database (MongoDB Example)
DB_URI=XXXXXXXXXXXXXXXXXXXXXX

# Email / SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=XXXXXXXXXXXXXXXXXXXXXX
SMTP_PASS=XXXXXXXXXXXXXXXXXXXXXX
FROM_EMAIL=XXXXXXXXXXXXXXXXXXXXXX
LOGIN_COUNT=3

# Upload / Storage
UPLOAD_DIR=XXXXXXXXXXXXXXXXXXXXXX
MAX_FILE_SIZE_MB=50

# Third-party APIs (Optional)
CLOUDINARY_CLOUD_NAME=XXXXXXXXXXXXXXXXXXXXXX
CLOUDINARY_API_KEY=981775223922XXXXXXXXXXXXXXXXXXXXXX314
CLOUDINARY_API_SECRET=XXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CLIENT_ID=your_google_client_id